@import url("https://fonts.cdnfonts.com/css/product-sans");


body {
    min-height: 100vh;
}

.separate {
  display: flex;
  flex-wrap: wrap;
}

#banner {
  width: 50%;
  background-color: white;
}

#logo {
   position: absolute;
  width: 93px;
  height: 46px;
  left: 11.46%;
  top: 13px; 
  
} 

.acct {
  /* position: absolute;
  left: 11.46%;
  right: 65.14%;
  top: 15.49%;
  bottom: 76.69%; */

  font-family: "Product Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  /* line-height: 60px; */
  /* identical to box height, or 200% */

  /* display: flex; */
  /* align-items: center; */

  color: #2b2b2b;
  width: 50%;
  margin: auto;
  padding-top: 119px;
}

.form {
  width: 50%;
  margin: auto;
}

.input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  font-family: 'Product Sans Light';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    
}

.input:focus {
  outline: none;
}

.Name {
  font-family: 'Product Sans Light';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #2B2B2B;
}

.input::placeholder {
color: rgba(151, 151, 151, 0.4)
}

.submit_button {
  width: 100%;
  background-color: #CE0639;
    border: none;
    margin-top: 31px;
}

.second {
  height: 772px;
  background: #672a4e url(./breadpattern-1-1024x336\ 1.png);
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.second h4 {
  position: absolute;
  left: 56.11%;
  right: 12.85%;
  top: 31.9%;
  bottom: 52.47%;

  font-family: "Product Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.second p {
  position: absolute;
  left: 56.11%;
  right: 13.96%;
  top: 51.3%;
  bottom: 36.2%;

  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;

  color: #ffffff;
  padding-top: 29px;
}
